*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins', sans-serif;
height:100vh;
background:
linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url("https://images.unsplash.com/photo-1513475382585-d06e58bcb0f0?q=80&w=2070&auto=format&fit=crop")
no-repeat center center fixed;
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

/* START SCREEN */
.start-screen{
text-align:center;
}

.start-screen h1{
font-size:40px;
margin-bottom:30px;
}

.start-screen button{
padding:15px 40px;
font-size:20px;
border:none;
border-radius:12px;
background:#6c5ce7;
color:white;
cursor:pointer;
transition:0.3s;
}

.start-screen button:hover{
background:#4834d4;
transform:scale(1.05);
}

/* QUIZ CONTAINER */
.container{
width:90%;
max-width:800px;
padding:50px;
border-radius:25px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(20px);
box-shadow:0 25px 60px rgba(0,0,0,0.5);
text-align:center;
}

#passage{
font-size:22px;
line-height:1.8;
margin-bottom:30px;
}

#question{
font-size:28px;
margin-bottom:30px;
}

button{
width:100%;
padding:16px;
margin:12px 0;
border:none;
border-radius:14px;
background:#6c5ce7;
color:white;
font-size:18px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#4834d4;
transform:scale(1.05);
}

.timer-wrapper{
position:fixed;
top:25px;
right:25px;
width:100px;
height:100px;
}
