body{
margin:0;
font-family:Arial;
background:url("images/bg-seni.jpg") center/cover;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

body::before{
content:"";
position:fixed;
inset:0;
pointer-events:none;
}

body.ungu::before{background:rgba(120,0,255,.3);}
body.biru::before{background:rgba(0,140,255,.3);}
body.pink::before{background:rgba(255,0,120,.3);}
body.hijau::before{background:rgba(0,180,90,.3);}

.container{
background:white;
padding:25px;
max-width:700px;
border-radius:15px;
text-align:center;
z-index:1;
}

button{
padding:10px 15px;
margin:5px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

.timer{
position:fixed;
top:20px;
right:20px;
width:80px;
height:80px;
background:#ff4d4d;
color:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:24px;
font-weight:bold;
}
